{%extends 'layout.html'%}

{%block header%}
 <img src="/static/logo.png">
 <a href="/">>Shop<</a>
 <a href="/products">Products</a>
 <a href="/cart">Cart({{bag_items_count}})</a>
 <hr>
 <a href="/contact">Contacts</a>
 {%endblock%}

 {%block content%}
 
 <div class="paginator">
   <h1> Send Us a Message: </h1>
      <form  action="/sent-message" method="POST">
            {% csrf_token %} 
            <label>
               Your name: 
               <input type="text" name="name">
            </label>
         <br>
            <label>
               Your Email: 
               <input type="text" name="email">
            </label>
         <br>
            <label>
               Your Phone: 
               <input type="text" name="phone">
            </label>
         <br> 
            <textarea name="content" cols="40" rows="20">

            </textarea>
         <br>
         <p>
            <a href = "/sent-message"><button class="click_button" >Sent!</button></a>
         </p>
      </form>
</div>
 {%endblock%}

